@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
  --primary-color: #f2c94c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kalam', cursive;
}

header {
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  font-weight: 400;
}

.input-section {
  margin: auto;
  width: 600px;
  margin-top: 3rem;
}

.input-area {
  display: block;
  width: 100%;
  height: 120px;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  padding: 0.2rem;
}

.transalte-button {
  font-family: 'Kalam', cursive;
  padding: 18px 25px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  margin: 1rem 0;
}

.output-section {
  margin: auto;
  width: 600px;
}

.output-area {
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  border: 1px solid black;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0.5rem;
}

footer > h2 {
  padding: 0.5rem 0 0 0.2rem;
  font-weight: 500;
}

footer > p {
  width: 500px;
  margin: auto;
  font-weight: 350;
}
