@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
  --primary-color: #f2c94c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kalam', cursive;
}

header {
  background-color: var(--primary-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-bottom: 2px solid black;
}

header > h1 {
  font-weight: 400;
}

.main-content {
  background: url('minion2.jpg') no-repeat center center fixed;
  background-size: cover;
}

.input-section {
  margin-top: 3rem;
}

.input-area {
  margin: auto;
  display: block;
  width: 62vw;
  height: 120px;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  padding: 0.2rem;
  resize: none;
  border: 1px solid black;
}

.translate-button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Kalam', cursive;
  padding: 18px 25px;
  background-color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  outline: 1px solid black;
}

.output-section {
  margin: auto;
}

.output-area {
  margin: auto;
  width: 100%;
  width: 60vw;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0.5rem;
  height: 20vh;
  border-top: 2px solid black;
}

footer > h2 {
  padding: 0.5rem 0 0 0.2rem;
  font-weight: 500;
}

footer > p {
  width: 500px;
  margin: auto;
  font-weight: 350;
}

@media only screen and (max-width: 600px) {
  .input-area {
  }

  .output-area {
  }
}
